# Project Title - Edit Me

## Data set selection

> In this section, you will need to provide the following information about the selected data set:
>
> - Source with a link
> - Fields
> - License

### Data set selection rationale

> Why did you select this data set?

### Questions to be answered

> Using statistical analysis and visualization, what questions would you like to be able answer about this dataset.
> This could include questions such as:
>
> - What is the relationship between X and Y variables?
> - What is the distribution of the variables?
> - What is the relationship between the variables and the target?
>   You will need to frame these questions in a way to show value to a stakeholder (i.e.why should we know about the relationship between X and Y variables?)

### Visualization ideas

> Provide a few examples of what you plan to visualize to answer the questions you posed in the previous section. In this project, you will be producing 6-8 visualizations. You will also be producing an interactive chart using Plotly.
> Think about what those visualization could be: what are the variables used in the charts? what insights do you hope to gain from them?

In [1]:
# ðŸš€ Importing some libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import json
import zipfile

with zipfile.ZipFile('data/pollution-by-electric-vehicles-dataset.json.zip', 'r') as zip_ref:
  zip_ref.extractall('data/')

with open('data/pollution-by-electric-vehicles-dataset.json', 'r') as f:
  data = json.load(f)

print(f"Data type: {type(data)}")
if isinstance(data, dict):
  print(f"Keys in the data: {list(data.keys())}")

if isinstance(data, dict) and 'data' in data:
  df = pd.DataFrame(data['data'])
  print(f"\nDataset shape: {df.shape}")
  print("Successfully loaded dataset from 'data' key")
else:
  print("Could not find 'data' key in JSON structure")

print("\nFirst 3 rows:")
df.head(3)

Data type: <class 'dict'>
Keys in the data: ['meta', 'data']

Dataset shape: (264628, 28)
Successfully loaded dataset from 'data' key

First 3 rows:

Dataset shape: (264628, 28)
Successfully loaded dataset from 'data' key

First 3 rows:

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,row-9zmh-kxbg.u7ht,00000000-0000-0000-D2B6-825AE6F8F1CE,0,1760391073,None,1760391201,None,{ },WA1E2AFY8R,Thurston,...,23,0,22,263239938,POINT (-122.90787 46.9461),PUGET SOUND ENERGY INC,53067010910,2742,10,39
1,row-37k7-e7fd.ke3a,00000000-0000-0000-E2D8-EA9DF85F3D8A,0,1760391073,None,1760391201,None,{ },WAUUPBFF4J,Yakima,...,16,0,15,318160860,POINT (-120.42083 46.44779),PACIFICORP,53077940008,2746,4,22
2,row-6tqu_bbkp-svcy,00000000-0000-0000-F9FE-B94525DD352F,0,1760391073,None,1760391201,None,{ },1N4AZ0CP0F,King,...,84,0,46,184963586,POINT (-122.30253 47.72656),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),53033000700,3009,7,48